.menu {
    position: fixed;
    width: 358px;
    height: calc(100% - 80px);
    background: #8299C2;
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover {
    color: #132651;
    transition: 0.7s;
}

