.button {
    background-color: #132651;
    padding: 14px 42px;
    border: none;
    border-radius: 50px;
    color: #FFFF;
}

.button:hover {
    background: #8299C2;
    cursor: pointer;
    transition: 0.7s;
}
