.form {
    width: 400px;
    min-height: 620px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 25px;
    padding: 0 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #132651;
}
.form * {
    margin: 0;
}

.form h2 {
    text-align: center;
}

.form button {
    font-size: 27px;
}

.field {
    display: flex;
    justify-content: space-between;
}