.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    padding: 0 38px;
}

.navigation a {
    color: #132651;
    text-decoration: none;
}

.navigation a:hover {
    color: #8299C2;
    transition: 0.7s;
}