.header {
    margin: 0 112px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header * {
    font-size: 20px;
    font-weight: normal;
}

.logo {
    background-image: url("/src/images/logo.svg");
    background-repeat: no-repeat;
    min-width: 248px;
    min-height: 75px;
}