html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#root {
    height: 100%;
}

#root > div {
    height: 100%;
}

* {
    font-family: "Montserrat", system-ui  !important;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

h3 {
    font-size: 27px;
    font-weight: normal;
    margin: 0;
}

