.page {
    height: calc(100% - 90px) !important;
    background-image: url("../../assets/images/home-page.jpg");
    background-position: bottom center;
    background-size: cover;
}

.text {
    color: #FFFF;
    filter: drop-shadow(3px 2px 2px #132651);
    width: 510px;
}
